<p>
  <strong>Commenter:</strong>
    <%= comment.autor_name %>
</p>
 
<p>
  <strong>Comment:</strong>
    <%= comment.content %>
</p>
 
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Etes-vous certain?' } %>
</p>