// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p {
    font-weight: 200;
    color:aquamarine;
}
h1 {
    color: red;
    font-size: 15 px;
}